<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Document</title>
    <link rel="stylesheet" href="/css/simple-grid.css">
     <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const errorElem = document.querySelector('.error')
    const successElem = document.querySelector('.success')
    const databaseElem = document.querySelector('.database')

    if (errorElem.innerHTML !== '') {
        setTimeout(function () {
            errorElem.innerHTML = ''
        },
            3000);
    }
    if (successElem.innerHTML !== '') {
        setTimeout(function () {
            successElem.innerHTML = ''
        }, 3000);
           
    }
    if (databaseElem.innerHTML !== '') {
        setTimeout(function () {
            databaseElem.innerHTML = ''
        }, 3000);
           
    }

})
</script>
<body>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>