<div class="row">
    <h1>Times user has been greeted</h1>

{{!-- {{#each greetedCounts}} --}}
    <h2>Hello, {{names}} has been greeted {{counts}} time(s)</h2>
{{!-- {{/each}} --}}
    <div class="nextRoutes">
         <a href="/">Home</a>
          <a href="/greeted">Names Greeted</a>
    </div>
</div>