<div class="row">
    <h1>Times user has been greeted</h1>

    <h2>Hello, {{name}} has been greeted {{counter}} times</h2>

    <div class="nextRoutes">
         <a href="/">Home</a>
          <a href="/greeted">Names Greeted</a>
    </div>
</div>