<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings Exercise</title>
    <link rel="stylesheet" href="/css/simple-grid.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 style="margin: 20px 0 0 0;">Names Greeted</h1>
    <div class="list">
                <h3 style="margin-bottom: 10px;">Names</h3>
            {{#each listOfNames}}
                <a href="/counter/{{names}}">{{names}}</a>
            {{/each}}
    </div>
    <div class="nextRoute" style="  font-size: large; text-decoration-color: black;">
        <a href="/">Home</a>
    </div>
</body>

</html>