<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings Exercise</title>
    <link rel="stylesheet" href="/css/simple-grid.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <h1>Names Greeted</h1>
    <div class="list" text-align="center">


        <table>
            <tr>

                <th>Names</th>

            </tr>
            {{#each listOfNames}}
            <tr>
                <td><a href="/counter/{{@key}}">{{@key}}</a></td>
            </tr>
            {{/each}}
        </table>
        <div class="nextRoute">
            <a href="/">Home</a>
        </div>
    </div>
</body>

</html>